#s1 div{
    background-color: cornflowerblue;
    width: 400px    ;
    display: inline-block;
}
#s1 p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

#s2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#s3, #parrafo, #span_1, #label_1{
    font-size: 1rem;
}

#s4 p{
    font-family: cursive;
}

#s4 p{
    color: orange;
}

#s5{
    text-align: center;
}

#s5 div{
    width: 100px;
    background-color: green;
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
}

#s5 :hover{
    color: orange;
    font-weight: bold;
    background-color: gray;
}